* {
    font-family: 'Lekton', sans-serif;
    font-size: 50px;
}

.css-main-content-outer-wrapper {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.css-main-content-middle-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.css-main-content-inner-wrapper {
    margin-left: auto;
    margin-right: auto; 
    width: 800px;
}

.css-header {
    background-color: #1e88e5; 
    color: #eceff1;
    height: 55px;
    padding: 30px;
}

.css-title {
    color: #1565c0;
    height: 55px;
    padding: 30px;
}

.css-base-form-wrapper input {
    border-radius: 0;
    border: 4px solid #1565c0;
    display: block;
    margin-bottom: 20px;
    width: 800px;
    height: 80px;
}

.css-base-form-wrapper input[type="text"] {
    color: #546e7a;
}

.css-base-form-wrapper input[type="submit"] {
    background-color: #1565c0;
    color: #eceff1;
}

.css-back-button {
    border: 4px solid #0d47a1;
    background-color: #0d47a1;
    color: #eceff1;
    padding: 5px;
}

